

/* ------------------------ IMPORTS ------------------------ */



/* --------------------------------------------------------- */

/* ------------------------ VARIABLES ------------------------ */

  :root {
    --color1: #ffffff;
    --color2: #ffffff;
    --color3: #ffffff;
    --color4: #ffffff;
    --color5: #ffffff;
    --color6: #ffffff;
  }

/* ----------------------------------------------------------- */

/* ------------------------ HEADER ------------------------ */

header {

}

/* -------------------------------------------------------- */

/* ------------------------ MAIN ------------------------ */

main {

}

/* ------------------------------------------------------ */

/* ------------------------ FOOTER ------------------------ */

footer {

}

/* -------------------------------------------------------- */

/* ------------------------ MEDIA QUERYS ------------------------ */

@media (max-width: 768px) {
  
}

@media (max-width: 576px) {
  
}

/* --------------------------------------------------------------- */